.Navigation {
  overflow: hidden;
  margin-bottom: -60px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}

@media only screen and (max-device-width: 480px) {
  .Navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Navigation-search {
  padding: 50px 200px;
}
